/* Mise en page de la grid principale */
.grid-container{
  background:url(./visuels/wallpaperOwl.jpg) no-repeat center fixed;
  background-size: cover;
}
.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    height: 100vh;
    font-family: 'Montserrat', sans-serif
    ;
    color: white;
  }

            /*------ HEADER ------*/
.header {
    grid-area: header;
    background-color: #0F1D33;
  }


  
             /*------ SIDENAV STYLE ------*/
  .sidenav {
    grid-area: sidenav;
  }

  .sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;
    background-color:rgba(26, 51, 89, 0.2);
  }
  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }
  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }
  .sidenav__list-item:hover {
    background-color: rgba(63, 124, 217, 0.2);
    cursor: pointer;
  }

             /*------ MAIN STYLE ------*/
  .main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.315);
    
  }
  .main-header {
    margin: 20px;
    padding: 20px;
    height: 50px; 
    background-color: #3F7CD9;
    border-radius: 70px;
  }
  .main-header__heading{
    
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    list-style-type: none;
  }


  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }

            /* OVERVIEW CARD STYLE */
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:rgba(63, 124, 217, 0.3);
    border-radius: 30px;
    border: solid 1px white;
  }
  .main-cards {
    column-count: 2;
    column-gap: 20px;
    margin: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;

  }
  
  /* CARD STYLE */
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:rgba(218, 218, 218, 0.171);
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 30px ;
    border: solid 1px white;
  }



.temperature{
  display: inline;
}

  i.wi{
font-size: 5em;
}
.tooltip{
  display: none;
}

  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }

  .card:nth-child(2) {
    height: 200px;
  }

  .card:nth-child(3) {
    height: 265px;
  }







             /*------ FOOTER STYLE ------*/
  .footer {
    grid-area: footer;
    background-color: #1A3359;
  }

  /* declaration du header et footer en display-flex */
  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color:  rgba(63, 124, 217, 0.2)
  }
